html,
body,
#react-root {
  height: 100%;
  margin: 0;
  max-width: 100%;
}

body {
  font-family: 'Mali', cursive;

  background-color: #ffff;
  justify-content: center;
}


@media screen and (min-width: 480px) {
  img {
    display: inline-block;
    max-width: 100%;
  }

  body {
    width: auto;
  }

  .log-picture {
    margin: 5%;
    padding: 3%;
    border: 1.2px solid #5E743C;
    text-align: center;
  }

  .log-summary {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  img {
    max-width: 100%;
  }

  .log-picture {
    margin-top: 3.5%;
    margin-right: 2%;
    margin-left: 2%;
    border: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1.2px solid #5E743C;
    padding-top: 1%;
    padding-bottom: 5%;
  }
}

.bottom-nav {
  background-color: #C8BA89;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
}

.nav-item-default {
  background-color: #C8BA89;
  color: #615246;
  margin: auto;
  margin-top: .2%;
  align-content: space-evenly;
  margin-bottom: .2%;
}

.nav-item-default-selected {
  color: #080706;
  margin: auto;
  margin-top: .2%;
  align-content: space-evenly;
  margin-bottom: .2%;
}


.footer {
  height: 50px;
  background-color: #C8BA89;
  position: fixed;
  left: 0;
  bottom: 0;
}

.logout-icon {
  display: flex;
  align-items: flex-end;
}

#map {
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'Kalam', cursive;
  font-size: 40px;
  font-weight: bold;
}

.add-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-picture {
  float: left;
  margin-top: 20px;
  margin-left: 8px;
}

.logo {
  padding-top: 2%;
  margin-right: 2%;
  height: 50px;
  margin-bottom: 5px;
}

.header-text {
  display: flex;
  font-weight: bolder;
  font-size: 20pt;
  align-content: flex-start;
}

.header {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: #C8BA89;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: thin solid #615246;
  margin-bottom: .5em;
}



/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 50px auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}